{% extends "base.html" %}

{% block title %}ThinkOMega{% endblock %}
{% block content %}
<!-- Content -->
<div class="content">
    <div class="dashboard-row">
        <!-- ThinkStaff Widget -->
        <a href="/ThinkStaff" class="widget">
            <i class="fas fa-users"></i>
            <h4>ThinkStaff</h4>
            <p>Total Staff {{ total_staff }}</p>
        </a>
        <!-- ThinkTransaction Widget -->
        <a href="/ThinkTransactions" class="widget">
            <i class="fas fa-money-bill-wave"></i>
            <h4>ThinkTransaction</h4>
            <p>{{ total_transactions }}</p>
        </a>
        <!-- ThinkInvoice Widget -->
        <a href="/ThinkInvoice" class="widget">
            <i class="fas fa-file-invoice"></i>
            <h4>ThinkInvoice</h4>
            <p>{{ total_invoices }}</p>
        </a>
        <!-- Announcements Widget -->
        <a href="/onboard" class="widget">
            <i class="fas fa-user-plus"></i>
            <h4>Onboard</h4>
            <p>{{ announcements }}</p>
        </a>
        <!-- Departments Widget -->
        <a href="/departments" class="widget">
            <i class="fas fa-building"></i>
            <h4>Departments</h4>
            <p>{{ department_count}}</p>
        </a>
    </div>
</div>

{% endblock %}